h2 {
  margin-bottom: 40px;
}

h3 {
  color: red;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



textarea {
  vertical-align: top;
}

dd {
  margin-inline-start: 0px;
}


.Common_Wrap {
  padding: 3% 5%;
}


.Container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

.content-box {
  border: solid black 1px;
  margin: 0 auto;
  width: 750px;
  padding: 30px 50px;
}

#backPage {
  float: left;
  clear: both;
  margin-right:15px;
}

.information-form {
  font-size: 17px;
}
.information-form_item{
  margin-bottom: 30px;
}
.information-form dt {
  width: 180px;
  float: left;
  clear: both;
  font-weight: 800;
}
.information-form dd {
  width: 50%;}

.information-form dd,
.information-form dt {
  display: inline-block;
}
.information-form input,.information-form textarea{
  width: 100%;
}



#imgPathPrev {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  height: auto;
}

/*モディファイア*/
.font-color--white {
  color: white;
}
.font-color--red{
  color: red;
}