.Edit {
  background-color: rgba(0, 187, 255, 0.477);
  border-width: 0;
  max-width: 90%;
  width: 750px;
  height: auto;
}

.Edit_menu {
  margin-left: calc(8% + 5px);
  padding-top: 15px;
}

.Edit_menu th {
  padding: 10px 20px;
}