.Search {
  text-align: center;
  width: 650px;
  max-width: 95%;
}

.Search_menu {
  margin-top: 10px;
}

.Search_menu_item {
  display: inline-block;
  margin: 10px;
}

.newRegister {
  display: block;
  margin-left: auto;
}

.searched-products {
  padding: 20px 15px;
  border: solid black 3px;
  margin: 15px auto 0;
  width: 1000px;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 30px;
}

.searched-products::after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}

.product {
  color: rgb(114, 114, 114);
  padding: 12px 14px;
  border: double rgb(187, 163, 28) 10px;
  background-color: beige;
  display: inline-block;
  width: 25%;
  min-width: 230px;
}

.product_information {
  border: solid black 2px;
  border-spacing: 0;
  background-color: blue;
  width: 100%;
}

.product th,
.product td {
  border: solid black 1.3px;
  width: 33%;
}

.product td {
  text-align: right;
}

.product_img {
  width: 100%;
  height: 150px;
}

.product_buttons {
  display: flex;
}

.product_buttons>* {
  background-color: blue;
  width: 100%;
}